<h2>{{ t.AddContact }}</h2>
<form (submit)="$event.preventDefault(); add()" ngNativeValidate>
  <mat-form-field>
    <input matInput
           placeholder="{{ t.FirstName }}"
           [(ngModel)]="person.firstName"
           name="firstName"
           required
           pattern="([A-ZĘÓĄŚŁŻŹĆŃ])([a-zęóąśłżźćń]{2,})">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.LastName }}"
           [(ngModel)]="person.lastName"
           name="lastName"
           required
           pattern="([A-ZĘÓĄŚŁŻŹĆŃ])([a-zęóąśłżźćń]{2,})">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.Email }}"
           [(ngModel)]="person.email"
           name="email"
           required
           type="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.PhoneNumber }}"
           [(ngModel)]="person.phoneNumber"
           name="phoneNumber"
           type="tel"
           required>
  </mat-form-field>

  <button mat-button  type="submit">{{ t.Add }}</button>
</form>


