<h2>{{ t.Device }}</h2>

<app-loading *ngIf="!device"></app-loading>

<table *ngIf="device" class="table">
  <tbody>
  <tr>
    <td>{{ t.DeviceType }}</td>
    <td>{{ device.type }}</td>
  </tr>
  <tr>
    <td>{{ t.DeviceDenotement }}</td>
    <td>{{ device.denotement }}</td>
  </tr>
  <tr>
    <td>{{ t.SerialNumber }}</td>
    <td>{{ device.serialNumber }}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="device.owner">
  <hr/>
  <h2>{{ t.Owner }}</h2>

  <app-client [client]="device.owner"></app-client>

</div>
