<div *ngIf="job" class="container">

  <form (submit)="$event.preventDefault(); add()" ngNativeValidate>

    <mat-select
      placeholder="{{ t.JobRegisterType }}"
      [(ngModel)]="job.registration.type"
      name="type"
      required>

      <mat-option>
        {{ t.JobRegisterType }}
      </mat-option>

      <mat-option
        [value]="registerType.Warranty">

        {{ t.Warranty }}
      </mat-option>

      <mat-option
        [value]="registerType.PostWarranty">

        {{ t.PostWarranty }}
      </mat-option>

    </mat-select>


    <mat-form-field>
      <input matInput
             placeholder="{{ t.PlaceOfRealisation }}"
             [(ngModel)]="job.registration.placeOfRealisation"
             name="place"
             required>
    </mat-form-field>

    <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              placeholder="{{ t.Description }}"
              [(ngModel)]="job.registration.description"
              name="description"
              required
    >
    </textarea>
    </mat-form-field>

    <button mat-button type="submit">{{ t.Save }}</button>

  </form>

</div>
