<table class="table">

  <thead class="thead-light">
    <tr>

      <th>
        {{ t.DeviceType }}
      </th>

      <th>
        {{ t.DeviceDenotement }}
      </th>

      <th>
        {{ t.SerialNumber }}
      </th>

      <th *ngIf="client.id === 0">
        {{ t.Owner }}
      </th>

      <th>

      </th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let device of devices">

      <td>
        {{ device.type }}
      </td>

      <td>
        {{ device.denotement }}
      </td>

      <td>
        {{ device.serialNumber }}
      </td>

      <td *ngIf="client.id === 0">
        {{ device.owner.name }}
      </td>

      <td>
        <a [routerLink]="['/device', device.id]"><i class="fa fa-caret-right"></i></a>
      </td>

    </tr>
  </tbody>
</table>
