<h2>{{ t.AddDevice }}</h2>


<form (submit)="$event.preventDefault(); add()" ngNativeValidate>

  <mat-form-field *ngIf="askOwner">
    <mat-select
      placeholder="{{ t.Client }}"
      [(ngModel)]="device.owner"
      name="owner">

      <mat-option
        *ngFor="let client of clients"
        [value]="client">

        {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.DeviceType }}"
           [(ngModel)]="device.type"
           name="type"
           required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.DeviceDenotement }}"
           [(ngModel)]="device.denotement"
           name="denotement"
           required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.SerialNumber }}"
           [(ngModel)]="device.serialNumber"
           name="serialNumber"
           required>
  </mat-form-field>

  <button mat-button type="submit">{{ t.Add }}</button>

</form>


