<div *ngIf="job" class="container">

  <form (submit)="$event.preventDefault(); add()" ngNativeValidate>

    <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              placeholder="{{ t.Annotations }}"
              [(ngModel)]="job.closure.annotations"
              required
              name="annotations"
    >
    </textarea>
    </mat-form-field>


    <mat-form-field>
      <input matInput
             type="date"
             placeholder="{{ t.Closed }}"
             required
             name="dateOD"
             [(ngModel)]="job.closure.dateOfDispatch">
    </mat-form-field>

    <button mat-button type="submit">{{ t.Save }}</button>

  </form>

</div>
