<div *ngIf="job" class="container">

  <mat-form-field>
    <input matInput
           type="date"
           placeholder="{{ t.CompletionDate }}"
           [(ngModel)]="job.completion.date">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              placeholder="{{ t.Description }}"
              [(ngModel)]="job.completion.description"
    >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.RepairTime }}"
           [(ngModel)]="job.completion.repairTime">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              placeholder="{{ t.Annotations }}"
              [(ngModel)]="job.completion.annotations"
    >
    </textarea>
  </mat-form-field>

  <mat-select
    *ngIf="staff"
    placeholder="{{ t.Serviceman }}"
    [(ngModel)]="job.completion.serviceman">

    <mat-option
      *ngFor="let person of staff"
      [value]="person">

      {{ person.firstName }}
      {{ person.lastName }}
    </mat-option>
  </mat-select>

  <button mat-button (click)="add()">{{ t.Save }}</button>

</div>
