<h1>{{ t.Staff }}</h1>

<mat-chip-list>
  <mat-chip color="primary" selected="true" (click)="addUser()">{{ t.Add }}</mat-chip>
</mat-chip-list>

<table class="table">

  <thead class="thead-light">
  <tr>

    <th>
      {{ t.FullName }}
    </th>

    <th>
      {{ t.Username }}
    </th>

    <th>
      {{ t.Rank }}
    </th>

    <th>

    </th>

  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of staff">

      <td>
        {{ user.identity.firstName }}
        {{ user.identity.lastName }}
      </td>

      <td>
        <a [routerLink]="['/user', user.id]">{{ user.username }}</a>
      </td>

      <td>
        {{ t[Rank[ user.rank ]] }}
      </td>

      <td>
        <a [routerLink]="['/user', user.id]"><i class="fa fa-caret-right"></i></a>
      </td>

    </tr>
  </tbody>
</table>

<app-loading *ngIf="staff === null"></app-loading>


