<mat-form-field>
  <input matInput
         placeholder="{{ t.Name }}"
         [(ngModel)]="client.name">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.Street }}"
         [(ngModel)]="client.street">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.PostalCode }}"
         [(ngModel)]="client.postalCode">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.City }}"
         [(ngModel)]="client.city">
</mat-form-field>

<button mat-button (click)="Add()">{{ t.Add }}</button>


