<mat-form-field>
  <input matInput
         placeholder="{{ t.FirstName }}"
         [(ngModel)]="user.identity.firstName">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.LastName }}"
         [(ngModel)]="user.identity.lastName">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.Email }}"
         [(ngModel)]="user.identity.email">
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.PhoneNumber }}"
         [(ngModel)]="user.identity.phoneNumber">
</mat-form-field>

<mat-form-field>
  <mat-select
        placeholder="{{ t.Rank }}"
        [(ngModel)]="user.rank">
    <mat-option [value]="Rank.Serviceman">{{ t.Serviceman }}</mat-option>
    <mat-option [value]="Rank.Manager">{{ t.Manager }}</mat-option>
    <mat-option [value]="Rank.Admin">{{ t.Admin }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput
         placeholder="{{ t.Username }}"
         [(ngModel)]="user.username">
</mat-form-field>

<mat-form-field>
  <input matInput
         type="password"
         placeholder="{{ t.Password }}"
         [(ngModel)]="user.password">
</mat-form-field>

<button mat-button (click)="add()">{{ t.Add }}</button>


