<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ToxPl</a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink=""><i class="fa fa-home"></i></a>
      </li>
    </ul>
    <ul *ngIf="this.auth.Authenticated" class="nav navbar-nav">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Jobs }}">{{ t.Jobs }}</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Clients }}">{{ t.Clients }}</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Devices }}">{{ t.Devices }}</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Staff }}">{{ t.Staff }}</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Me }}">{{ t.Me }}</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="auth.Logout()">{{ t.Logout }}</a>
      </li>

    </ul>
    <ul *ngIf="!this.auth.Authenticated" class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="{{ Paths.Login }}">{{ t.Login }}</a>
      </li>
    </ul>
  </div>
</nav>
