<h2>{{ t.AddJob }}</h2>

<div *ngIf="job">

  <mat-form-field *ngIf="askClient && clients">
    <mat-select
      placeholder="{{ t.Client }}"
      [(ngModel)]="job.client"
      (change)="clientChanged()">

      <mat-option
        [value]="{id :0}">

        {{ t.Client }}
      </mat-option>

      <mat-option
        *ngFor="let client of clients"
        [value]="client">

        {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="devices && job.client">
    <mat-select
      placeholder="{{ t.Device }}"
      [(ngModel)]="job.device"
      (change)="deviceChanged()">

      <mat-option
        *ngFor="let device of devices"
        [value]="device">

        {{ device.type }}
        {{ device.denotement}}
        {{ device.serialNumber }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="contacts && job.client">
    <mat-select
      placeholder="{{ t.Contact }}"
      [(ngModel)]="job.applicant">

      <mat-option
        *ngFor="let contact of contacts"
        [value]="contact">

        {{ contact.firstName }}
        {{ contact.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="add()">{{ t.Add }}</button>

</div>
