<h2>{{ t.AddJob }}</h2>

<div *ngIf="job">

  <form (submit)="$event.preventDefault(); add()" ngNativeValidate>

    <mat-form-field *ngIf="askClient && clients">
      <mat-select
        placeholder="{{ t.Client }}"
        [(ngModel)]="job.client"
        (change)="clientChanged()"
        name="client"
        required>

        <mat-option
          [value]="{id :0}">

          {{ t.Client }}
        </mat-option>

        <mat-option
          *ngFor="let client of clients"
          [value]="client">

          {{ client.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="devices && job.client">
      <mat-select
        placeholder="{{ t.Device }}"
        [(ngModel)]="job.device"
        (change)="deviceChanged()"
        name="device"
        required>

        <mat-option
          *ngFor="let device of devices"
          [value]="device">

          {{ device.type }}
          {{ device.denotement}}
          {{ device.serialNumber }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button *ngIf="job.client.id" mat-button (click)="addDevice()">{{t.AddDevice}}</button>

    <mat-form-field *ngIf="contacts && job.client">
      <mat-select
        placeholder="{{ t.Contact }}"
        [(ngModel)]="job.applicant"
        name="appicant"
        required>

        <mat-option
          *ngFor="let contact of contacts"
          [value]="contact">

          {{ contact.firstName }}
          {{ contact.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button *ngIf="job.client.id" mat-button (click)="addContract()">{{t.AddContact}}</button>

    <mat-form-field>

      <mat-select
        placeholder="{{ t.JobRegisterType }}"
        [(ngModel)]="job.registration.type"
        name="type"
        required>

        <mat-option>
          {{ t.JobRegisterType }}
        </mat-option>

        <mat-option
          [value]="registerType.Warranty">

          {{ t.Warranty }}
        </mat-option>

        <mat-option
          [value]="registerType.PostWarranty">

          {{ t.PostWarranty }}
        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="{{ t.PlaceOfRealisation }}"
             [(ngModel)]="job.registration.placeOfRealisation"
             name="place"
             required>
    </mat-form-field>

    <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              placeholder="{{ t.Description }}"
              [(ngModel)]="job.registration.description"
              name="description"
              required></textarea>
    </mat-form-field>

    <button mat-button type="submit">{{ t.Add }}</button>

  </form>

</div>
