<h2>{{t.AddClient}}</h2>

<form (submit)="$event.preventDefault(); add()" ngNativeValidate>
  <mat-form-field>
    <input matInput
           placeholder="{{ t.Name }}"
           name="name"
           [(ngModel)]="client.name"
           required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.Street }}"
           name="street"
           [(ngModel)]="client.street"
           required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.PostalCode }}"
           name="postalCode"
           [(ngModel)]="client.postalCode"
           pattern="[0-9]{2}-[0-9]{3}"
           required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ t.City }}"
           name="city"
           [(ngModel)]="client.city"
           required>
  </mat-form-field>

  <button mat-button type="submit">{{ t.Add }}</button>
</form>


