<div class="container" *ngIf="job">

  <div class="row part">

    <div class="col">

      <p>
        {{ t.State }}:
        <span class="JobState{{ JobState[job.state] }}">{{ t[JobState[job.state]] }}</span>
      </p>

      <p>
        {{ t.CreatedAt }}:
        {{ job.createdAt | date:timeFormat }}
      </p>

    </div>

    <div class="col">
      <h2>{{ t.Applicant }}</h2>
      <app-person [person]="job.applicant"></app-person>
    </div>

    <div class="col">
      <h2>{{ t.Dispatcher }}</h2>
      <app-person [person]="job.dispatcher"></app-person>
    </div>

  </div>

  <div class="row part">

    <div class="col">
      <app-device [device]="job.device"></app-device>
    </div>

  </div>

  <div class="row part">

    <div class="col">
      <h2>{{ t.Client }}</h2>
      <app-client [client]="job.client"></app-client>
    </div>

  </div>

  <div *ngIf="job.registration && job.registration.id" class="row part">
    <app-job-overview-registration class="col" [job]="job"></app-job-overview-registration>
  </div>

  <div *ngIf="job.diagnosis && job.diagnosis.id" class="row part">
    <app-job-overview-diagnosis class="col" [job]="job"></app-job-overview-diagnosis>
  </div>

  <div *ngIf="job.order && job.order.id" class="row part">
    <app-job-overview-order class="col" [job]="job"></app-job-overview-order>
  </div>

  <div *ngIf="job.completion && job.completion.id" class="row part">
    <app-job-overview-completion class="col" [job]="job"></app-job-overview-completion>
  </div>

  <div *ngIf="job.closure && job.closure.id" class="row part">
    <app-job-overview-closure class="col" [job]="job"></app-job-overview-closure>
  </div>

</div>
