$web-font-path: './fonts.scss';

@import "~bootswatch/dist/cosmo/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/cosmo/_bootswatch.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.JobStateCreated {
  color: black;
}

.JobStateRegistered {
  color: red;
}

.JobStateDiagnosed {
  color: #3fff07;
}

.JobStateOrdered {
  color: purple;
}

.JobStateFinished {
  color: green;
}

.JobStateClosed {
  color: orange;
}

.JobStateDeleted {
  color: black;
}
