<table class="table">

  <thead class="thead-light">
  <tr>

    <th>
      {{ t.Name }}
    </th>

    <th>
      {{ t.Address }}
    </th>

    <th>

    </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let client of clients">

    <td>
      <a [routerLink]="['/client', client.id]">{{ client.name }}</a>
    </td>

    <td>
      {{ client.street }}
      {{ client.city }}
    </td>

    <td>
      <a [routerLink]="['/client', client.id]"><i class="fa fa-caret-right"></i></a>
    </td>

  </tr>
  </tbody>
</table>

<app-loading *ngIf="clients === null"></app-loading>


