<h2>{{ t.AddContact }}</h2>

<mat-form-field *ngIf="![Rank.Admin, Rank.Manager].includes(this.auth.User.rank)">
  <input matInput
         type="password"
         placeholder="{{ t.OldPassword }}"
         [(ngModel)]="form.oldPassword">
</mat-form-field>

<mat-form-field>
  <input matInput
         type="password"
         placeholder="{{ t.NewPassword }}"
         [(ngModel)]="form.newPassword">
</mat-form-field>

<mat-form-field>
  <input matInput
         type="password"
         placeholder="{{ t.RepeatNewPassword }}"
         [(ngModel)]="form.repeatPassword">
</mat-form-field>

<button mat-button (click)="change()">{{ t.Change }}</button>


